/* Sidebar styling */
.sidebar {
    width: 220px;
    background-color: #fbfbfb;
    padding: 20px;
    color: rgb(235, 229, 229);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    font-family: 'Arial', sans-serif;
    overflow-y: auto; /* Enable independent scrolling */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #323232 #fffefe; /* Custom scrollbar colors */
  }
  
  .sidebar::-webkit-scrollbar {
    width: 6px; /* Width of scrollbar */
  }
  
  .sidebar::-webkit-scrollbar-thumb {
    background-color: #0569cd; /* Color of the scrollbar */
    border-radius: 10px;
  }
  
  .sidebar .logo {
    margin-left: 4px;
    font-size: 14px;
    color: rgb(134, 130, 130);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }
  
  .bank1 {
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #131313;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .sidebar .logo i {
    color: #000000;
    margin-right: -25px;
    font-size: 37px;
    margin-left: 7px; /* Ensure icon is larger for the logo */
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    
  }
  
  .nav-links li {
    margin-bottom: 40px;
  }
  
  .nav-links li a {
    color: #848484;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center; /* Align icon and text vertically */
    padding: 19px 20px;
    transition: all 0.3s;
    border-radius: 4px;
    margin-left: -10px;
    border-bottom:2px solid whitesmoke;
  }
  
  .nav-links li a i {
    margin-right: 10px; /* Ensure consistent spacing between icon and text */
    font-size: 20px;
  }
  
  .nav-links li a:hover {
    background-color: #ffffff;
    padding-right: 10px;
    border-bottom:2px solid #040404;
  }
  
  .nav-links li a:hover i {
    transform: scale(1.2); /* Enlarge icon slightly on hover */
  }
  
  /*.active {
    background-color: #1e1e1e;  Highlight the active item */
  
  
  
  .dashBoard {
    margin-left: 2.6px;
    font-family: 'Verdana';
    color: #848484;
  }
  
  .manageEmployee {
    font-family: 'Verdana';
    color: #848484;
  }
  
  .addEmployee {
    font-family: 'Verdana';
    color: #848484;
  }
  
  .manageCustomer {
    font-family: 'Verdana';
    color: #848484;
  }
  
  .addCustomer {
    font-family: 'Verdana';
    color: #848484;
  }
  
  .adminReports {
    font-family: 'Verdana';
    color: #848484;
  }
  
  .signOut {
    font-family: 'Verdana';
    color: #848484;
  }
  
  .profile-logout {
    list-style: none;
    padding: 0;
  }
  


  